if SHIELD_AEONCLOK_RIGHT

config ZMK_KEYBOARD_NAME
    default "Aeon Clik"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_AEONCLOK_LEFT || SHIELD_AEONCLOK_RIGHT

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

config I2C
    default y

endif
