# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TUUVEITWO_LEFT

config ZMK_KEYBOARD_NAME
    default "Tuuveitwo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_TUUVEITWO_LEFT

if SHIELD_TUUVEITWO_LEFT || SHIELD_TUUVEITWO_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_TUUVEITWO_LEFT || SHIELD_TUUVEITWO_RIGHT
